Source: zipgateway
Section: embedded
Priority: optional
Maintainer: Admobilize <andres.calderon@admobilize.com>
Build-Depends: debhelper (>= 9), cmake
Standards-Version: 3.9.5
Homepage: http://zwavepublic.com/developer

Package: zipgateway
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},matrix-creator-init-zwave, dhcpcd5, radvd, avahi-autoipd, bridge-utils, dhcp-helper, avahi-utils
Description: Unofficial package for Sigma Designs Z/IP Gateway. The Z/IP Gateway is an application that handles all communication between Z-Wave and Z/IP in a similar way that a home router handles the communication between the home PC and the Internet.
